<h1>Listing calendar_entries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @calendar_entries.each do |calendar_entry| %>
  <tr>
    <td><%= calendar_entry.title %></td>
    <td><%= calendar_entry.text %></td>
    <td><%= link_to 'Show', calendar_entry %></td>
    <td><%= link_to 'Edit', edit_calendar_entry_path(calendar_entry) %></td>
    <td><%= link_to 'Destroy', calendar_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Calendar entry', new_calendar_entry_path %>
